Eventos.Info/Eventos.Info.UI/Service References/EventoServiceReference/EventoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:37584/EventoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Eventos.Info.Negocio" />
  <xs:element name="BuscarUltimosEventos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUltimosEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Eventos.Info.Negocio" minOccurs="0" name="BuscarUltimosEventosResult" nillable="true" type="q1:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>